.product-page {
  margin-top: 1em;
}

.product {
  h4 {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

h4.reviews-title {
  margin-top: 3em;
}

ol.reviews {
  margin-top: 1em;
}

.review {
  h5 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }
}
